body{
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;
    font-family:monospace;
    font-size: 19pt;
    color: dimgray;
    background-color:#F5F5F5; 

}

a:link{
    text-decoration: none;
}

a:visited{
   color: dimgray; 
}

.homeLink{
    margin-left: 40px;
}

.homeArrow{
    margin-top: 4px;
    width: 17px;
    height: 17px;
}
.arrowimg{
    width: 50px;
    height: 50px;
    margin-bottom: 160px;
    margin-left: 60px
}

.categTitle{
    font-size: 28pt;
    margin-top: 48px;
    margin-bottom: 25px;
    color:darkorange;
    text-align: center;
}

div.categories{
    margin-top: 60px;
    text-align: center;
}

.bookimg{
    margin-left: 50px;
    width: 270px;
    height: 400px;
}

.AuthLab{
    margin-left: 150px;
    margin-right:85px;
    color:#FAAC15;
}

.PricLab{
    margin-left: 150px;
    margin-right:100px;
}

.classWithShadow{
    transform: scale(1.1);
    -moz-box-shadow: 7px 7px 8px 8px #B0A8A7; 
   -webkit-box-shadow: 7px 7px 8px 8px #B0A8A7; 
   box-shadow: 7px 7px 8px 8px #B0A8A7; 
}

.bkDetImg{
   width: 470px;
    height: 620px;
    margin-top: 70px;
    margin-left: 150px;
}
.bookInfo{
    position: absolute;
    right: 900px;
    top: 180px;
}
.addCartBtn{
    width: 250px;
    height: 50px;
    background-color:#FB9A33;
    font-size: 17pt;
    font-family: cursive;
    border-radius: 12px;
    color:dimgrey;
    box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
    border: 3px solid darkorange;
    margin-top: 150px;
}
.titlelab{
    font-family:fantasy;
    letter-spacing:3px;
    font-size: 35pt;
}



