#navigationBar {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: dimgray;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 70px;
}
.leftMenu {
  display: flex;
  justify-content: space-between;
  height: 30px;
  flex-basis: 500px;
}
.leftMenu a {
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
  padding-top: 15px;
  padding-bottom: 27px;
  padding-left: 10px;
  padding-right: 10px;
  color: coral;
}
.leftMenu a:hover {
  color: white;
  background-color: salmon;
}
.rightMenu {
  flex-basis: 300px;
  display: flex;
  justify-content: space-evenly;
}
.rightMenu a {
  font-size: 20px;
  font-family: cursive;
  color: coral;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 1px;
  padding-right: 10px;
}
.rightMenu #cartlogo {
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.rightMenu a:hover {
  color: white;
  background-color: salmon;
}
#cartlogo {
  display: inline;
  color: coral;
}
#cartlogo:hover {
  background-color: salmon;
  color: white;
}
#wishList {
  width: 75px;
  box-sizing: border-box;
  padding-left: 4%;
  color: coral;
}
#wishList:hover {
  background-color: salmon;
  color: white;
}

#wishLogo {
  width: 30px;
  height: 30px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  margin-top: 22%;
}
.numberlogo {
  position: relative;
  top: -41%;
  left: -61.2%;
  z-index: 2;
}

.numberwish {
  position: relative;
  top: -20%;
  left: -39.7%;
  z-index: 2;
}

.newOpacity {
  opacity: 0.5;
}

.menuItems {
  list-style: none;
  margin-top: 3%;
}

.menuItems .selectedItem {
  background-color: coral;
  color: white;
}
#profile {
  display: none;
}
#profile img {
  border-radius: 50%;
}
