#categories-container {
  padding: 0;
  margin: 0;
}
#bkdiv2,
#bkdiv3 {
  text-align: center;
  width: 98%;
}
#bodyDivId {
  position: absolute;
  top: 70px;
  width: 100%;
  display: none;
}

#bookDetailsFooter {
  display: none;
}

#bookDetailsHeader {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: dimgray;
}

.homeLink {
  margin-left: 40px;
}

.homeArrow {
  margin-top: 4px;
  width: 17px;
  height: 17px;
}
.arrowimg {
  width: 30px;
  height: 30px;
  margin-bottom: -10%;
  margin-right: -1%;
}

div.categories {
  margin-top: 60px;
  text-align: center;
  margin-left: 80px;
}
.bkdiv {
  display: table;
  margin-top: 6%;
  width: 98%;
  text-align: center;
  margin-left: -9%;
}
.categTitle {
  font-size: 28pt;
  margin-top: 28px;
  margin-bottom: 25px;
  color: darkorange;
  display: table-caption;
}
.cell {
  display: table-cell;
  width: 25%;
}
.bookimg {
  width: 230px;
  height: 370px;
  border: 1 solid black;
}

.AuthLab {
  margin-left: 100px;
  margin-right: 85px;
  margin-top: 15px;
  color: #faac15;
  display: block;
}

.PricLab {
  margin-left: 100px;
  margin-right: 100px;
}

.classWithShadow {
  transform: scale(1.08);
  -moz-box-shadow: 7px 7px 8px 8px #b0a8a7;
  -webkit-box-shadow: 7px 7px 8px 8px #b0a8a7;
  box-shadow: 7px 7px 8px 8px #b0a8a7;
}
.bookInfo {
  display: table;
  margin-bottom: 200px;
}

.bimg {
  display: table-cell;
}

.titlelab {
  float: right;
  margin-top: 80px;
  margin-left: 200px;
  display: table-cell;
  height: 620px;
}

.bkDetImg {
  width: 470px;
  height: 620px;
  margin-top: 70px;
  margin-left: 150px;
  display: inline;
}

.tiltestyle {
  font-family: fantasy;
  letter-spacing: 3px;
  font-size: 35pt;
}
.autlab,
.ratelab,
.dislab {
  margin-top: 20px;
}
/*.addCartBtn {
  
  margin-top: 320px;
  display: inline;
}*/

/******* Book Details Page*******/

#bookDetailsBody {
  margin: 0;
  padding: 0;
}

#bodyDivId {
  position: absolute;
  top: 70px;
  width: 100%;
}
.bookBibliographic {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  justify-content: space-around;
  /* flex-direction: column; */
}
.bookImage {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 black;
}
.bookDivImage {
  text-align: center;
  max-height: 300px;
  min-height: 300px;
  max-width: 300px;
  min-width: 300px;
}
.bookInfoSection {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.selectedBook {
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 600px;
  max-width: 100%;
}

.addCartButton {
  text-align: center;
  cursor: pointer;
  margin-top: 15%;
}
.addCartBtn,
.addWishBtn {
  width: 150px;
  height: 40px;
  background-color: #fb9a33;
  font-size: 14pt;
  font-family: cursive;
  border-radius: 12px;
  color: dimgrey;
  /* box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange; */
  border: 3px solid darkorange;
  cursor: pointer;
  margin-top: 5px;
}
.selectedItems {
  box-sizing: border-box;
  text-align: center;
  width: 120px;
  height: 40px;
  display: inline-block;
  border: 3px solid darkorange;
  background-color: #fb9a33;
  font-size: 15pt;
  font-family: cursive;
  color: dimgray;
  padding-top: 2px;
  margin-left: -4px;
  margin-right: -4px;
}
.minus,
.plus {
  height: 40px;
  width: 30px;
  cursor: pointer;
  color: #e1892b;
  font-family: cursive;
  font-size: 13pt;
  background-color: rgb(203, 195, 195);
}
.minus {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.plus {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bookdesign {
  font-size: 18pt;
  font-family: cursive;
  font-style: oblique;
  font-weight: bold;
  text-shadow: #fb9a33 0 -1px;
  text-align: justify;
}
.bookAuthor,
.bookTitle,
.bookPrice,
.bookStock,
.bookRate {
  font-size: 14pt;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-shadow: #fb9a33 1 0px;
}
.secondTime {
  display: none;
}

#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}
.checked {
  color: orange;
}
