#cartBody {
  padding: 0;
  margin: 0;
}
#cartContainer {
  position: absolute;
  top: 70px;
  width: 100%;
  display: none;
}
thead {
  box-shadow: rgba(104 104 214 / 30%) 7px 7px 7px;
}

td,
tbody {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
tbody:before {
  /* line-height: 0.5em; */
  content: ".";
  color: white;
  /* display: block; */
}

#tableCart {
  text-align: -webkit-center;
  margin-top: 5%;
  width: 100%;
  display: none;
}

.cart {
  border-spacing: 75px 20px;
}

.remove {
  color: red;
  font-size: 27px;
}
.remove i {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

#emptyCart {
  margin-top: 7%;
  text-align: center;
  display: none;
  font-size: 16px;
}

.submitForm {
  width: 109px;
  height: 47px;
  border: 1px solid #00b4cc;
  background: coral;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-right: -65%;
  margin-top: 2%;
  display: none;
}
.submitForm:hover {
  background-color: rgb(241, 96, 47);
}
.submitForm:active {
  background-color: chocolate;
  box-shadow: 0 5px coral;
  transform: translateY(1px);
}

#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}

#header {
  display: none;
}

table td {
  padding: 8px;
  text-align: center;
}

.currency {
  display: none;
  position: relative;
  left: 67%;
  bottom: 33%;
  width: 6%;
  height: 3%;
  outline: none;
  border-radius: 22px;
}

.currency-selected {
  background-color: coral;
}
