.profile-body {
  padding: 0px;
  margin: 0px;
}
.profile-container {
  display: none;
  justify-content: center;
}
.profile-container-info {
  display: flex;
  flex-direction: row;
  padding-top: 170px;
  width: 700px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.profile-info {
  margin-top: 80px;
  width: 350px;
  margin-left: 30px;
}
.profile-footer {
  bottom: 0px;
  width: 100%;
}
.name,
.email,
.password {
  font-size: 14pt;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-shadow: #fb9a33 1 0px;
  margin-bottom: 4px;
}
.info-input {
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-shadow: #fb9a33 1 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;

  width: 370px;
}
.edit-button {
  width: 150px;
  height: 40px;
  background-color: #c85808;
  font-size: 14pt;
  font-family: cursive;
  border-radius: 12px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 70px;
  margin-left: 30px;
}
.picker-label {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.picker-label span {
  position: absolute;
  bottom: 750%;
  left: 30%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: none;
  background-color: grey;
  padding: 6px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.profile-img {
  border-radius: 50%;
}

.change-Width {
  min-width: max-content;
}

#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}
.profile-footer,
.profile-header {
  display: none;
}
