.homeContainer {
  position: absolute;
  top: 70px;
  display: none;
}
#bodyContainer {
  padding: 0;
  margin: 0;
}
.slideShow img {
  width: 100%;
  height: 400px;
}
.slideShow {
  margin: auto;
  margin-top: 20px;
  width: 98%;
  min-height: 274px;
  max-height: 274px;
  margin-bottom: 10%;
}

#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}

#imageText {
  width: 50%;
  color: white;
  text-align: center;
  margin-left: 25%;
  margin-top: -20%;
  opacity: 0.6;
  line-height: 2;
  font-size: 25px;
}

.text {
  display: inline;
}

.cart {
  display: inline;
}

#prev {
  position: absolute;
  outline: none;
  top: 16%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
#next {
  position: absolute;
  outline: none;
  top: 16%;
  left: 96%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
#prev:active,
#prev:hover,
#next:active,
#next:hover {
  width: 30px;
  height: 30px;
  background-color: #717171;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active,
.dot:hover {
  background-color: #717171;
}
#up {
  color: rgb(241, 96, 47);
  font-size: 45px;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.content {
  margin-top: 70px;
}

#header {
  display: none;
}
