#signinBody {
  background-color: white;
  padding: 0;
  margin: 0;
}
#loginContainer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  outline: none;
  width: 62%;
  height: 25px;
  margin: auto;
  border: solid 1px rgb(219, 219, 219);
}
.email-input {
  margin-top: 38px;
  display: block;
}
.remember-me {
  width: fit-content;
  height: fit-content;
  margin-right: 0;
  margin-top: 1px;
  margin-left: 0;
}
.remember-me-div {
  width: 62%;
  text-align: left;
  margin: auto;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.password-input {
  display: block;
  margin-top: 10px;
}
.forgot-password {
  text-align: right;
  margin-left: 34%;
  color: grey;
}
.submit-input {
  background-color: #c85808;
  outline: none;
  border: none;
  height: 30px;
  width: 170px;
  display: block;
  margin: auto;
  margin-top: 40px;
  font-size: 16px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.login-content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 470px;
  min-height: 250px;
  height: fit-content;
  background-color: white;
  text-align: center;
  filter: drop-shadow(0px 6px 6px rgb(0, 0, 0, 0.25));
}
.login-text {
  color: #c85808;
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.signup-navigate {
  margin-top: 10px;
}
.signup-navigate a {
  text-decoration: underline;
  font-size: 12px;
  color: blue;
}

.signup-navigate label {
  font-size: 14px;
  color: grey;
}

label.error {
  font-size: 12px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}

#signinHeader {
  display: none;
}

#signinFooter {
  display: none;
}

/*#C85808;*/
