/*body{
   
}*/
#signupContainer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#signupBody {
  margin: 0;
  padding: 0;
  background-color: white;
}
input {
  outline: none;
  width: 62%;
  height: 30px;
  margin: auto;
  display: block;
  border: solid 1px rgb(219, 219, 219);
  margin-top: 8px;
}
.username-input {
  margin-top: 48px;
  margin-bottom: 0px;
}
.submit-input {
  background-color: #c85808;
  outline: none;
  border: none;
  height: 30px;
  width: 170px;
  display: block;
  margin: auto;
  margin-top: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}
.signup-content {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;
  min-height: 300px;
  height: fit-content;
  background-color: white;
  filter: drop-shadow(0px 6px 6px rgb(0, 0, 0, 0.25));
  text-align: center;
}
.sign-up-text {
  color: #c85808;
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.signin-navigate {
  margin-top: 10px;
}
.signin-navigate a {
  text-decoration: underline;
  font-size: 12px;
  color: blue;
}

.signin-navigate label {
  font-size: 14px;
  color: grey;
}
label.error {
  font-size: 12px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
#preLoader {
  position: absolute;
  top: 35%;
  left: 43%;
}

#signUpHeader {
  display: none;
}

#signupFooter {
  display: none;
}

/*#C85808;*/
